body {
  font-family: Arial;
  font-weight: bold;
  background-color: rgb(255, 255, 236);
}

.option {
  height: 120px;
  width: 120px;
  border-radius: 80px;
  border-style: solid;
  border-width: 5px;
  background-color: #f7f8fa;
  cursor: pointer;
  transition: 0.1s;
  align-items: center;
}

.option img {
  height: 90px;
  border-radius: 60px;
  vertical-align: middle;
  transition: 0.1s;
}

.option img:hover {
  transform: scale(1.5);
}

.option img:active {
  transform: scale(1.3);
}

.scoreboard {
  width: 320px;
  background-color: #ffe1cd;
  border-style:dashed;
  border-width: 5px;
  border-color: gray;
  padding: 20px;
}

.picks {
  line-height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.your-pick span {
  color: darkgoldenrod;
}

.comp-pick span {
  color: red;
}

.scoreboard p {
  margin: 2px;
  font-size: 15px;
}

#score-tag {
  font-size: 18px;
  margin-bottom: 10px;
}

.result {
  margin-top: 10px;
  font-size: 30px;
}